@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LineSeed";
  src: url("fonts/LINESeedSansTH_Rg.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "LineSeed";
  src: url("fonts/LINESeedSansTH_Bd.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "LineSeed";
  src: url("fonts/LINESeedSansTH_XBd.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "LineSeed";
  src: url("fonts/LINESeedSansTH_He.ttf");
  font-weight: 900;
}

* {
  font-family: "LineSeed";
}
.seal {
  transition: background-image 3s;
}
.seal:hover {
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/the-53rd-annual-grammy-awards---arrivals.jpg");
  background-size: cover;
}


.swiper-button-next{
  color: #fff !important;
  right: 50px !important;
}

.swiper-button-prev{
  color: #fff !important;
  left: 50px !important;
}

.article .swiper-button-next{
  color: #EAAAB8 !important;
}

.article .swiper-button-prev{
  color: #EAAAB8 !important;
}
